In [2]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import sklearn.linear_model


data = Path('Finals-Copy1.csv')
df = pd.read_csv(data)
df.head()

,MedianHouseholdIncome,CoronarMortalityper100K,HeartFailMortalityper100K,StrokeMortalitper100K,KidneyMortalityper100K,COPDMortalityper100K,DiabetesMortalityper100K
0,42336,130,109,45,66,273,72
1,42644,122,111,45,77,364,102
2,44758,92,107,48,60,240,60
3,44811,110,110,42,76,345,90
4,45652,109,98,46,59,223,70

In [8]:
data_y = df["StrokeMortalitper100K"]
data_x = df.drop(columns="StrokeMortalitper100K")

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_x,data_y,test_size=0.33, random_state=42)
x_train.shape

(33, 6)

In [13]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [15]:
model.fit(x_train, y_train)

SVC(kernel='linear')

In [17]:
y_pred = model.predict(x_test)
results = pd.DataFrame({
   "Prediction": y_pred,
   "Actual": y_test
}).reset_index(drop=True)
results.head()

   Prediction  Actual
0          40      41
1          34      34
2          36      26
3          26      34
4          35      33

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.058823529411764705

In [20]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred, zero_division= 0))

              precision    recall  f1-score   support

          26       0.00      0.00      0.00         1
          28       0.00      0.00      0.00         1
          30       0.00      0.00      0.00         1
          31       0.00      0.00      0.00         0
          32       0.00      0.00      0.00         1
          33       0.00      0.00      0.00         2
          34       0.50      0.33      0.40         3
          35       0.00      0.00      0.00         1
          36       0.00      0.00      0.00         0
          37       0.00      0.00      0.00         2
          39       0.00      0.00      0.00         0
          40       0.00      0.00      0.00         0
          41       0.00      0.00      0.00         1
          42       0.00      0.00      0.00         1
          43       0.00      0.00      0.00         1
          44       0.00      0.00      0.00         0
          46       0.00      0.00      0.00         2
          48       0.00      0.00      0.00         0

    accuracy                           0.06        17
   macro avg       0.03      0.02      0.02        17
weighted avg       0.09      0.06      0.07        17